@media (max-width: 480px) {
  /*
  	iPhone横向きまでは縦に羅列。フォントはやや小さく。
  
  	+------------------------+
  	|TITLE                   |
  	+------------------------+
  	|MENU                    |
  	+------------------------+
  	|AD                      |
  	+------------------------+
  	|CONTENTS                |
  	|                        |
  	|                        |
  	+------------------------+
  	|FOOTER                  |
  	+------------------------+
  	*/
  body {
    font-size: 0.7em;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /*
  	iPad横向き未満までは気持ち画面が狭いのでメニューを画面上部に移動。ただし位置は固定。
  
  	+------------------------+
  	|TITLE                   |
  	+------------------------+
  	|MENU                    |
  	+-------------+----------+
  	| CONTENTS    | AD       |
  	|             |          |
  	|             |          |
  	+-------------+----------+
  	|FOOTER                  |
  	+------------------------+
  	*/
  body #title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
  }
  body #menu {
    position: fixed;
    top: 40px;
    width: 100%;
    height: 30px;
  }
  body #menu li {
    width: 140px;
    display: inline;
  }
  body #main {
    padding-left: 0;
    padding-top: 70px;
  }
  body #main #adframe {
    float: right;
    width: 250px;
    height: 1000px;
  }
  body #main #contents {
    margin-right: 250px;
  }
  body footer {
    clear: both;
  }
}
@media (min-width: 769px) {
  /*
  	iPad横向き以上はPCと同じ扱い。タイトルとメニューは位置固定。
  
  	+------------------------+
  	|TITLE                   |
  	+----+-------------+-----+
  	|MENU| CONTENTS    | AD  |
  	|    |             |     |
  	|    |             |     |
  	+---+--------------+-----+
  	|FOOTER                  |
  	+------------------------+
  	*/
  body #title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
  }
  body #menu {
    position: fixed;
    top: 40px;
    width: 200px;
  }
  body #main {
    padding-left: 200px;
    padding-top: 40px;
  }
  body #main #adframe {
    float: right;
    width: 250px;
    height: 1000px;
  }
  body #main #contents {
    margin-right: 250px;
  }
  body footer {
    clear: both;
  }
}
/*
ブラウザー毎の差異を吸収する
*/
html,
head,
body,
div,
p,
table,
thead,
tbody,
tr,
td,
th,
h1,
h2,
h3,
h4,
h5,
li {
  padding: 0;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0 0 0 40px;
}
/*
色など、メディアクエリーで変化しない属性を定義
*/
body .blue {
  background-color: #c8c8ff;
}
body .green {
  background-color: #c8ffc9;
}
body .red {
  background-color: #ffc8c9;
}
body .yellow {
  background-color: #e9f50c;
}
body .cyan {
  background-color: #0ce9f5;
}
/* EOF */
