<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
		{% block head_title %}
		{% endblock %}
		</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<!--
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
		-->

		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
		  body {
			padding-top: 60px;
			padding-bottom: 40px;
		  }
		</style>
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

		<link rel="stylesheet" href="{{ STATIC_URL }}local/css/main.css" />
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% block head_link %}
		{% endblock %}

		{% block head_style %}
		{% endblock %}

		{% block head_script %}
		{% endblock %}

	</head>

	<body>

		{% block body %}
		{% endblock %}

		<script src="{{ STATIC_URL }}jquery/js/jquery.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
		<script src="{{ STATIC_URL }}local/js/init.js"></script>
	</body>
</html>
