{% extends "base.html" %}

{% block head_title %}
{{ page_title }}
{% endblock %}


{% block body %}
	<div>
		<h1>{{ page_title }}</h1>

		<div>{{ user}}</div>
		<div>{{ user.name }}</div>
		<div>{{ user.first_name }}</div>
		<div>{{ user.last_name }}</div>


		<ul>
			<li><a class="" href="signup/">facebookでサインアップ</a></li>
		</ul>

		<ul>
			<li><a class="" href="twitter-oauth/">TWITTER認証</a></li>
			<li><a class="" href="facebook-oauth/">FACEBOOK認証</a></li>
			<li><a class="" href="sync/">同期</a></li>
		</ul>
	</div>

	<div>
		<div>いちおう内容</div>
	</div>

	<footer>フッター</footer>
{% endblock %}
