{% extends "base.html" %}

{% block head_title %}
{{ page_title }}
{% endblock %}


{% block body %}
	<div>
		<h1>{{ page_title }}</h1>

		{% if system_message %}
		<p>
			{{ system_message }}
		</p>
		{% endif %}

		{% if user.is_authenticated %}
			<p>ようこそ {{ user.last_name }} {{ user.first_name }} さん（<a href="/accounts/logout/?next=/sync/">サインアウト</a>）</p>

			<ul>
				<li><a class="" href="twitter-oauth/">{{ twitter_label }}</a></li>
				<li><a class="" href="facebook-oauth/">{{ facebook_label }}</a></li>
				{% if sync_enable %}
					<li><a class="" href="sync/">今すぐ同期</a></li>
				{% endif %}
			</ul>
		{% else %}
			<p><a class="" href="signup/">facebookアカウントでサインアップ</a>、または<a href="/accounts/login/?next=/sync/">サインイン</a>してください</p>
		{% endif %}

	</div>
{% endblock %}
