{% extends "base.html" %}

{% block head_title %}
	google test - HTML5
{% endblock %}


{% block body %}



<div class="topbar">
	<div class="topbar-inner">

	<div class="container">
	<a class="brand" href="#">Google Test</a>
	<ul class="nav">
		<li class=""><a href="">top</a></li>
		<li class=""><a href="">tools</a></li>
	</ul>
	<ul class="nav secondary-nav">
		<li class=""><a href="">{{google_user.email}}</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" href="#">Sign in or register</a>
			<ul class="dropdown-menu">
				<li class="">{% autoescape off %}{{google_greeting}}{% endautoescape %}</li>
				<li class="">{% autoescape off %}{{facebook_greeting}}{% endautoescape %}</li>
			</ul>
		</li>
	</ul>
	</div>

	</div>
</div>

<div class="container-fluid">

	<div class="sidebar">
	<header>
		<nav>
		<ul>
			<li>home</li>
			<li>facebook</li>
			<li>google</li>
			<li>other</li>
			<li>help</li>
		</ul>
		</nav>
	</header>

	</div>

	<div class="content">

		<h1>Google test - HTML5</h1>

	<article>
		<section>
		あいうえお
		</section>
		<section>
		かきくけこ
		</section>
		<section>
		さしすせそ
		</section>
		<section>
		たちつてと
		</section>
		<section>
		なにぬねの
		</section>
		<section>
		はひふへほ
		</section>
		<section>
		まみむめも
		</section>
		<section>
		や　ゆ　よ
		</section>
		<section>
		らりるれろ
		</section>
		<section>
		わ　　　を
		</section>
		<section>
		ん
		</section>
	</article>


    <fb:login-button autologoutlink="true"></fb:login-button>

    {% if facebook_user %}
      <p><a href="{{ facebook_user.profile_url }}"><img src="http://graph.facebook.com/{{ facebook_user.id }}/picture?type=square"/></a></p>
      <p>Hello, {{ facebook_user.name|escape }}</p>
    {% endif %}

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if facebook_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>




	<footer>
		<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
	</footer>

	</div>
</div>
{% endblock %}
