{% extends "base_mobile.html" %}

{% block head_title %}
	mobile test
{% endblock %}


{% block body %}
	<header>
		<h1>Mobile test</h1>

		<nav>
		<ul>
			<li><a class="sbutton" href="">HOME</a></li>
			<li><a class="sbutton" href="">FACEBOOK</a></li>
			<li><a class="sbutton" href="">GOOGLE</a></li>
			<li><a class="mbutton" href="">OTHER</a></li>
			<li><a class="mbutton" href="">HELP</a></li>
		</ul>
		</nav>
	</header>

	<article>

		<section>
		</section>

		<section>
			<div>いちおう内容</div>
		</section>

		<section>
			<img src="/media/images/test.png" alt="画像" />
		</section>
	</article>

	<footer>フッター</footer>
{% endblock %}
